.l-box { padding: 2em; }
.m-box { padding: 1em; }

.right {
    text-align: right;
}

.intro {
    margin: 20% 2rem 0;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.0rem;
}

.embed-slideshare {
    padding: 1em;
    text-align: center;
}